h1 {
    text-align: center;
    font-size: 70px;
    font-family: lucida handwriting, cursive;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

@media (min-width: 0px) {
    // 0px - 199px // (max-width: 200px) //
    body {
        background-color: crimson;
    }
}

@media (min-width: 200px) {
    // 200px - 399px // (max-width: 400px) //
    body {
        background-color: navy;
    }
}

@media (min-width: 400px) {
    // 400px - 599px // (max-width: 600px) //
    body {
        background-color: yellow;
    }
}

@media (min-width: 600px) {
    // 600px - 799px // (max-width: 800px) //
    body {
        background-color: cyan;
    }
}

@media (min-width: 800px) {
    // 800px - 999px // (max-width: 1000px) //
    body {
        background-color: lime;
    }
}

@media (min-width: 1000px) {
    // 1000px - 1199px // (max-width: 1200px) //
    body {
        background-color: magenta;
    }
}

@media (min-width: 1200px) {
    // 1200px - 1399px // (max-width: 1400px) //
    body {
        background-color: indigo;
    }
}

@media (min-width: 1400px) {
    // 1400px - 1599px // (max-width: 1600px) //
    body {
        background-color: white;
    }
}
