h1 {
    text-align: center;
    font-size: 70px;
    font-family: lucida handwriting, cursive;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

@media (min-width: 200px) {
    h2 {
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        color: navy;
    }
}

@media (min-width: 400px) {
    h2 {
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        color: yellow;
    }
}

@media (min-width: 600px) {
    h2 {
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        color: cyan;
    }
}

@media (min-width: 800px) {
    h2 {
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        color: lawngreen;
    }
}

@media (min-width: 1000px) {
    h2 {
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        color: magenta;
    }
}

@media (min-width: 1200px) {
    h2 {
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        color: indigo;
    }
}

@media (min-width: 1400px) {
    h2 {
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        color: black;
    }
}
