h1 {
    text-align: center;
    font-size: 70px;
    font-family: lucida handwriting, cursive;
}

.cursive {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}

.fantasy {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

.inherit {
    text-align: center;
    font-size: 30px;
    font-family: inherit;
}

.monospace {
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}

.sans-serif {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.serif {
    text-align: center;
    font-size: 30px;
    font-family: serif;
}

.arial {
    text-align: center;
    font-size: 30px;
    font-family: arial, sans-serif;
}

.verdana {
    text-align: center;
    font-size: 30px;
    font-family: verdana, sans-serif;
}

.geneva {
    text-align: center;
    font-size: 30px;
    font-family: geneva, sans-serif;
}

.helvetica {
    text-align: center;
    font-size: 30px;
    font-family: helvetica, sans-serif;
}

.segoeui {
    text-align: center;
    font-size: 30px;
    font-family: segoe ui, sans-serif;
}

.tahoma {
    text-align: center;
    font-size: 30px;
    font-family: tahoma, sans-serif;
}

.roboto {
    text-align: center;
    font-size: 30px;
    font-family: roboto, sans-serif;
}

.trebuchetms {
    text-align: center;
    font-size: 30px;
    font-family: trebuchet ms, sans-serif;
}

.allertastencil {
    text-align: center;
    font-size: 30px;
    font-family: allerta stencil, sans-serif;
}

.georgian {
    text-align: center;
    font-size: 30px;
    font-family: georgian, serif;
}

.garamond {
    text-align: center;
    font-size: 30px;
    font-family: garamond, serif;
}

.timesnewroman {
    text-align: center;
    font-size: 30px;
    font-family: times new roman, serif;
}

.tangerine {
    text-align: center;
    font-size: 30px;
    font-family: tangerine, serif;
}

.lobster {
    text-align: center;
    font-size: 30px;
    font-family: lobster, serif;
}

.couriernew {
    text-align: center;
    font-size: 30px;
    font-family: courier new, monospace;
}

.lucidaconsole {
    text-align: center;
    font-size: 30px;
    font-family: lucida console, monospace;
}

.monaco {
    text-align: center;
    font-size: 30px;
    font-family: monaco, monospace;
}

.brushscriptmt {
    text-align: center;
    font-size: 30px;
    font-family: brush script mt, cursive;
}

.lucidahandwriting {
    text-align: center;
    font-size: 30px;
    font-family: lucida handwriting, cursive;
}

.poppins {
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.sofia {
    text-align: center;
    font-size: 30px;
    font-family: sofia, cursive;
}

.copperplate {
    text-align: center;
    font-size: 30px;
    font-family: copperplate, fantasy;
}

.papyrus {
    text-align: center;
    font-size: 30px;
    font-family: papyrus, fantasy;
}

.montserrat {
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.ysabeau {
    text-align: center;
    font-size: 30px;
    font-family: "Ysabeau Office", sans-serif;
}

.nunito {
    text-align: center;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
}

.lora {
    text-align: center;
    font-size: 30px;
    font-family: "Lora", serif;
}

.crimson {
    text-align: center;
    font-size: 30px;
    font-family: "Crimson Text", serif;
}

.aleo {
    text-align: center;
    font-size: 30px;
    font-family: "Aleo", serif;
}

.normal {
    text-align: center;
    font-size: 30px;
    font-style: normal;
}

.italic {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.oblique {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
}

.weight {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}

.lighter {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.bold {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.heavy {
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
}

.variant {
    text-align: center;
    font-size: 30px;
    font-variant: normal;
}

.smallcaps {
    text-align: center;
    font-size: 30px;
    font-variant: small-caps;
}

.xx:first-letter {
    margin-left: 720px;
    font-size: xx-large;
    font-size: 30px;
    color: purple;
}

.select {
    text-align: center;
    font-size: 30px;
}

::selection {
    color: white;
    background: black;
}

.line-height {
    text-align: center;
    font-size: 30px;
    line-height: 2;
}
